* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
    font-family: 'lato' sans-serif;
    
}
.header {
    min-height: 130vh;
    background-color: #f55959;
    color: white;
    position: relative;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}
nav {
    padding: 40px 0;   
}
a {
    color: currentColor;
}
nav > ul {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
}
nav > ul li{
    display: none;
    margin-right: 40px;
    z-index: 1;
}
#check {
    display: none;
}
.logo {
    font-size: 35px;
    font-weight: 600;
    margin-right: 150px;
}
.customer-pic {
    display: none;
    position: absolute;
    top: -150px;
    right: -120px;
    border-radius: 50%;
    width: 650px;
    height: 650px;
    box-shadow: 0 0 10px 12px rgba(248, 55, 232, 0.5);
    z-index: -1;
}
/* Loader */
#loader {
	background-color: #FE6B6B;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: ease;
}

#loader svg {
   width: 200px;
}

#loader.none {
	visibility: hidden;
	opacity: 0;
}
.desc-text {
    color: #fff;
    padding-top: 100px;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
.marked-text {
    background-color: rgba(248, 55, 232, .5);
    padding: 20px 0 20px 10px;  
}
.description {
    margin-left: 113px;
}
.header-text {
    padding-top: 20px;
    font-weight: 700;
    font-size: 60px;
}
.header-text-one{
    display: block;
}
.header-text-two {
    display: block;
}
.para-group{
    padding-top: 25px;
    margin-bottom: 60px;
    
}
.para1, .para2, .para3{
    display: block;
    font-weight: 400;
    font-size: 22px;
}
.btn {
    padding: 15px 50px;
    border: 2px solid #fff;
    color: #fff;

}
.btn-white{
    background-color: #ffffff;
    margin-right: 5px;
    color: #000000;
}
.btn:hover {
    background-color: #fff;
    color: black;
}
.btn-white:hover {
    background-color: #f55959;
    color: #fff;
}
.container {
    padding: 0 50px;
}
.checkbtn {
    z-index: 1000;
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    width: 70px;
    height: 70px;
}
#check:checked ~ .side-bar {
    right: 0;
}
.side-bar {
    position: fixed;
    right: -600px;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #a04646;
    color: white;
    padding: 40px 50px;
    text-align: center;
    font-size: 24px;
    transition: all .5s ease-in-out;
}
.side-bar li {
    padding: 20px 0;
}
.side-bar li a {
    display: block;
    padding: 5px;
}
.side-bar li a:hover {
    color: #FE6B6B;
}
@media (min-width: 600px) {
    .container {
        padding:  0 80px;
    }
}
@media (min-width: 900px) {
    .customer-pic {
        display: initial;
    }
    .container {
        padding: 0 100px;
    }
    .checkbtn {
        display: none;
    }
    nav > ul li {
        display: initial;
    }
    .side-bar{
        display: none;
    }
}