*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Loader*/
#loader {
	background-color: #FE6B6B;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: ease;
}

#loader svg {
   width: 200px;
}

#loader.none {
	visibility: hidden;
	opacity: 0;
}
